body{
  background-color: black;
}

.rectangle{
    width: 200px;
    height: 100px;
    background: black;
    position: relative;
}

.Header{
    min-height: 100vh;
    width: 100%;
    background-image: url(pictures/bg_top.gif);
    background-size:cover;
    background-color: rgba(0,0,0,0.30);

}

.nav-links{
    flex: 1;
    text-align: right;
    background-color: black;

}

.nav-links a{
  Text-decoration:none;
	font-size: 110%;
	transition: 0.8s;
	color: #008037;
	padding-left: 30px;
	font-weight: bold;
	font-family:sans-serif;
  display: inline-block;
  padding-right: 40px;
  margin-bottom: 40px;
}

  .Logo{
      width: 170px;
      cursor: pointer;
      margin-left: 3%;
      padding-right: 1%;
      float:left;

  }

.nav{
    display: flex;

}
