body{

	    background-image: url('bgwall.png');
			background-repeat: no-repeat;
	    background-size:cover;
			background-attachment: fixed;
}
#top {
	width:inherit;
	height:1%;
	background-color: black;
	box-sizing: border-box;
  overflow: hidden;
	display: flex;
	align-items: center;

}

#top a {
	Text-decoration:none;
	font-size: 110%;
	transition: 0.8s;
	color: #008037;
	padding-left: 30px;
	font-weight: bold;
	font-family:sans-serif;
	}

#top a:hover{
	color: #fbc50c;
}
#top img{
	width: 170px;
	padding-right: 42%;

}
#bridgerton {
	margin-top:inherit;
	width:600px;
	display:flex;
}

#bridgerton img{
	width: 550px;
	opacity: 90%;
	margin: 0.5px;
}
#bridgerton h1 {
	color: #black;
	font-size: 300%;

}

#bridgerton p {
	margin-top: 5%;
	color: #black;
	font-size: 130%;
	letter-spacing: 1px;
	color: #1c2120;
	line-height: 1.8;
}

#bridgerton .box {
	width: inherit;
	line-height: 80%;
	background-color: rgba(255,255,255,.35);
	margin-top: 15%;
}
