body{

	    background-image: url('background.png');
			position: static;
			background-repeat: no-repeat;
	    background-size: 100%;
			background-attachment: fixed;
}
#top {
	width:100%;
	height:5%;
	padding: 3%;
	padding-top: 3.5%;
	padding-left: 0.2%;
	background-color: rgba(0,0,0);
	color: #fff;
  position: fixed;
	margin-top: -1%;

}
#top a {
Text-decoration:none;
font-size: 173%;
color: white;
padding: 2.8%;
transition: 0.8s ease;
}
#top a:hover{
background-color: gray;
}
	width:100%;
	height:4.7%;
	padding: 2.9%;
	padding-top: 4.6%;
	padding-left: 0.1%;
	background-color: rgba(0,0,0);
	color: #fff;
  position: fixed;

}
#top a {
Text-decoration:none;
font-size: 170%;
color: white;
padding: 3%;
transition: 0.8s ease;
}
#top a:hover{
background-color: gray;
}

#mainbox {
	width:1060px;
	height:1400px;
	margin-left: 9%;
	padding-top: 10%;
	background-size:cover;
}

#mainbox #firstrow {
    width:100%;
    height:400px;
}
#mainbox #secondrow {
    width:100%;
    height:400px;
}

#mainbox #thirdrow {
    width:100%;
    height:400px;
}

#mainbox #fourthrow {
    width:100%;
    height:400px;
}
#mainbox #firstrow .one{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #firstrow .one{
    width:300px;
    height:290px;
}
#mainbox #firstrow .one p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #firstrow .two{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #firstrow .two{
    width:300px;
    height:290px;
}
#mainbox #firstrow .two p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #firstrow .three{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #firstrow .three{
    width:300px;
    height:290px;
}
#mainbox #firstrow .three p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #secondrow .four{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #secondrow .four{
    width:300px;
    height:290px;
}
#mainbox #secondrow .four p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #secondrow .five{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #secondrow .five{
    width:300px;
    height:290px;
}
#mainbox #secondrow .five p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #secondrow .six{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #secondrow .six{
    width:300px;
    height:290px;
}
#mainbox #secondrow .six p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #thirdrow .seven{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #thirdrow .seven{
    width:300px;
    height:290px;
}
#mainbox #thirdrow .seven p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #thirdrow .eight{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #thirdrow .eight{
    width:300px;
    height:290px;
}
#mainbox #thirdrow .eight p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #thirdrow .nine{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #thirdrow .nine{
    width:300px;
    height:290px;
}
#mainbox #thirdrow .nine p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #fourthrow .ten{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #fourthrow .ten{
    width:300px;
    height:290px;
}
#mainbox #fourthrow .ten p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #fourthrow .eleven{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #fourthrow .eleven{
    width:300px;
    height:290px;
}
#mainbox #fourthrow .eleven p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}

#mainbox #fourthrow .twelve{
  background-size:cover;
	width: 300px;
	height: 290px;
	padding:5px;
	margin-left: 3%;
  margin-bottom: 1%;
  float:left;
	background-color: rgba(255,255,255,0.8);

}
#mainbox #fourthrow .twelve{
    width:300px;
    height:290px;
}
#mainbox #fourthrow .twelve p {
    font-size:15px;
		font-family: cursive;
		text-align: center;
		font-weight: bold;
	  color: black;
}
